<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371815940536-clh5odaof484a9n1ms8l9vt6p3lifdm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371815940536-clh5odaof484a9n1ms8l9vt6p3lifdm9</string>
	<key>API_KEY</key>
	<string>AIzaSyDslYSTyJ3dZAcSLvGzsEXL2n71UJWfrss</string>
	<key>GCM_SENDER_ID</key>
	<string>371815940536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Active.Get.Get-Active</string>
	<key>PROJECT_ID</key>
	<string>get-active-99ab7</string>
	<key>STORAGE_BUCKET</key>
	<string>get-active-99ab7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371815940536:ios:cbbdfd15a7061883398f4d</string>
	<key>DATABASE_URL</key>
	<string>https://get-active-99ab7-default-rtdb.firebaseio.com</string>
</dict>
</plist>